@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url("../font/SpoqaHanSansNeo-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url("../font/SpoqaHanSansNeo-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url("../font/SpoqaHanSansNeo-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url("../font/SpoqaHanSansNeo-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url("../font/SpoqaHanSansNeo-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

:root {
  font-size: 10px;
  /* 1.5rem 이면 15px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SpoqaHanSansNeo", "sans-serif";
}

html,
body {
  height: 100%;
  color: #28323c;
  font-weight: 400;
  font-size: 1.6rem;
  background: #fff8e7;
  word-break: keep-all;
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

ul {
  list-style-type: none;
}

table, td, th {
  border : 1px solid rgb(207, 207, 207);
  margin: 1rem 0;
}

td {
  padding: .5rem;
  text-align: center;
}

button,
select,
input {
  font-size: 1.6rem;
}

button {
  margin: 0.8rem 0;
  padding: 0.8rem 1.6rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.center {
  text-align: center;
}

.one-liner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.height-100 {
  height: 100%;
}

/* 배경 색상 정의 */

.back-white {
  background-color: #fff;
}

.back-black {
  background-color: #28323c;
}

.back-blue {
  background-color: #4869df;
}

.back-darkBlue {
  background-color: #1a3dbb;
}

.back-midBlue {
  background-color: #567bfd;
}

.back-lightBlue {
  background-color: #deedff;
}

.back-sky {
  background-color: #deedff;
}

.back-orange {
  background-color: #fc630e;
}

.back-lighterOrange {
  background-color: #ffefe7;
}

.back-lightOrange {
  background-color: #ffb78e;
}

.back-darkOrange {
  background-color: #db4e00;
}

.back-midOrange {
  background-color: #ff8947;
}

.back-lightGray {
  background-color: #f3f4f5;
}

.back-gray01 {
  background-color: #f3f4f5;
}

.back-gray02 {
  background-color: #e9ebee;
}

.back-gray03 {
  background-color: #c5c8ce;
}

.back-gray04 {
  background-color: #9aa1aa;
}

.back-gray05 {
  background-color: #646f7c;
}

.back-gray06 {
  background-color: #374553;
}

.back-grayBG {
  background-color: #f7f8f9;
}

.back-green {
  background-color: #39ce8f;
}

.back-red {
  background-color: #d94129;
}

.back-yellow {
  background-color: #ffc70b;
}

.back-kakao {
  background-color: #ffe812;
}

/* 폰트 색상 정의 */

.font-white {
  color: #fff;
}

.font-lightGray {
  color: #f3f4f5;
}

.font-darkGray {
  color: #9aa1aa;
}

.font-blue {
  color: #567bfd;
}

.font-red {
  color: #db4e00;
}

.font-orange {
  color: #ff8947;
}

.font-white {
  color: #fff;
}

.font-black {
  color: #28323c;
}

.font-blue {
  color: #4869df;
}

.font-darkBlue {
  color: #1a3dbb;
}

.font-midBlue {
  color: #567bfd;
}

.font-lightBlue {
  color: #deedff;
}

.font-orange {
  color: #fc630e;
}

.font-lighterOrange {
  color: #ffefe7;
}

.font-lightOrange {
  color: #ffb78e;
}

.font-darkOrange {
  color: #db4e00;
}

.font-midOrange {
  color: #ff8947;
}

.font-lightGray {
  color: #f3f4f5;
}

.font-gray01 {
  color: #f3f4f5;
}

.font-gray02 {
  color: #e9ebee;
}

.font-gray03 {
  color: #c5c8ce;
}

.font-gray04 {
  color: #9aa1aa;
}

.font-gray05 {
  color: #646f7c;
}

.font-gray06 {
  color: #374553;
}

.font-grayBG {
  color: #f7f8f9;
}

.font-green {
  color: #39ce8f;
}

.font-red {
  color: #d94129;
}

.font-yellow {
  color: #ffc70b;
}

.font-kakao {
  color: #ffe812;
}

/* 폰트 두께 정의 */

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-light {
  font-weight: 300;
}

.font-thin {
  font-weight: 100;
}


/* Image Box 정의 */

.box-round {
  border-radius: 2rem;
}

/* 버튼 클릭시 효과 */
[class*="btn--"] {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: none;
}

[class*="btn--"]:active {
  -webkit-transform: scale(0.96);
  transform: scale(0.96);
  opacity: 0.7;
  /* border: none; */
}


/* 마진 값 기본 정의 */
.margin--0 {
  margin: 0rem !important;
}

.margin--24 {
  margin: 2.4rem !important;
}

.margin-top--0 {
  margin-top: 0 !important;
}

.margin-top--10 {
  margin-top: 1rem !important;
}

.margin-top--20 {
  margin-top: 2rem !important;
}

.margin-top--30 {
  margin-top: 3rem !important;
}

.margin-top--40 {
  margin-top: 4rem !important;
}

.margin-top--80 {
  margin-top: 8rem !important;
}

.margin-bottom--10 {
  margin-bottom: 1rem !important;
}

.margin-bottom--20 {
  margin-bottom: 2rem !important;
}

.margin-bottom--24 {
  margin-bottom: 2.4rem !important;
}

.margin-bottom--40 {
  margin-bottom: 4rem !important;
}

.margin-bottom--32 {
  margin-bottom: 3.2rem !important;
}

.bottom-space {
  height: 12rem !important;
}

.semi-bold {
  font-weight: 500 !important;
}

.bold {
  font-weight: 700 !important;
}

.font-size--17 {
  font-size: 1.7rem !important;
}

.padding--0 {
  padding: 0 !important;
}

.padding--25 {
  padding: 2.5rem !important;
}

.padding-top--0 {
  padding-top: 0 !important;
}

.padding-top--2 {
  padding-top: 2 !important;
}

.disabledButton {
  pointer-events: none;
  opacity: 0.4;
}