h1 {
  font-size: 5.5rem;
  letter-spacing: -2px;
}

.container {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5rem auto;
  align-items: center;
}
@media screen and (max-width: 47.5rem) {
  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5rem auto;
    align-items: center;
  }
}

section {
  width: 100%;
  margin: 1rem 0;
}

/* 자판기 상단 제품 노출영역 */
/* 자판기 상단 제품 노출영역 */
/* 자판기 상단 제품 노출영역 */
#header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#header .productWrap {
  width: 100%;
  height: 63rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px 12px;
  justify-items: stretch;
  padding: 3rem;
  border: 1rem solid #F78E1E;
  background-color: #fff;
}
@media screen and (max-width: 47.5rem) {
  #header .productWrap {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px 12px;
    justify-items: stretch;
  }
}

#header .productWrap .product {
  display: flex;
  height: 100%;
  border: 1px solid #ffdbb5;
  padding: 2rem 2.5rem;
  border-radius: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#header .productWrap .product:hover {
  background-color:rgba(251, 174, 50, 0.2);
  /* transform: scale(1.1);
  -webkit-transition: 0.2s;
  transition: 0.2s; */
}

#header .productWrap .product img {
  width: 7rem;
}

#header .productWrap .product .productName {
  margin: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
}

#header .productWrap .product .productPrice {
  font-size: 1.5rem;
  font-weight: 500;
}

/* 자판기 구매 제품 가격버튼 노출영역 */
/* 자판기 구매 제품 가격버튼 노출영역 */
/* 자판기 구매 제품 가격버튼 노출영역 */
#priceButtons {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 3rem;
  border: 1rem solid #F78E1E;
  background-color: #fff;
}

#priceButtons .currentCashed {
  width: 100%;
  display: block;
  position: relative;
  text-align: center;
  margin: 1rem 0 3rem 0;
}

#priceButtons .currentCashed p:nth-child(1) {
  color: #F78E1E;
  font-size: 2.5rem;
  font-weight: 400;
}

#priceButtons .currentCashed p:nth-child(2) {
  color: #000;
  font-size: 1.8rem;
  font-weight: 500;
  margin: 1rem 0;
}

#priceButtons .btnWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#priceButtons .btnWrap p {
  font-size: 3rem;
  font-weight: 700;
  color: #F78E1E;
}

#priceButtons .btnWrap .btn--cashes {
  background-color: #F78E1E;
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  border: 1px solid#fff;
  padding: 2rem 3.5rem;
  margin: 0 .5rem;
  background: linear-gradient(-135deg, transparent 10px,#F78E1E 0);
}


/* 자판기 구매 제품 가격 & 안내 텍스트 노출영역 */
/* 자판기 구매 제품 가격 & 안내 텍스트 노출영역 */
/* 자판기 구매 제품 가격 & 안내 텍스트 노출영역 */


#header #calculateWrap {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 2rem;
  width: 100%;
  height: 63rem;
}

#header #calculateWrap {
  display: flex;
  position: relative;
  width: 100%;
}
@media screen and (max-width: 47.5rem) {
  #header #calculateWrap {
    display: block;
    position: relative;
  }
}

#header #calculateWrap .moneyChanges {
  display: flex;
  align-items: center;
  width:100%;
  height: 25rem;
  padding: 2rem;
  border: 1rem solid #F78E1E;
  margin: 0 1.5rem 0 0;
  background-color: #fff;
}

#header #calculateWrap .moneyChanges #productChioceImg {
  display: block;
  width: 8rem;
  margin: 0 2rem;
}

#header #calculateWrap .moneyChanges p {
  font-size: 2.5rem;
  font-weight: 400;
  color: #F78E1E;
  margin: .5rem 0;
}

#header #calculateWrap .moneyChanges p:nth-child(3) span {
  font-size: 2.5rem;
  font-weight: 700;
  color: #000;
  margin: .5rem 0;
}

#header #calculateWrap .moneyChanges p #productChioceName,
#header #calculateWrap .moneyChanges p #productChiocePrice {
  font-size: 2.5rem;
  font-weight: 700;
  color: #000;
}

#header #calculateWrap .infoTxtWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20rem;
  margin: 1.5rem 0;
  padding: 2.4rem;
  border: 1rem solid #F78E1E;
  background-color: #fff;
  font-size: 3rem;
  font-weight: 500;
}

/* 자판기 하단 구매한 제품 리스트 노출영역 */
/* 자판기 하단 구매한 제품 리스트 노출영역 */
/* 자판기 하단 구매한 제품 리스트 노출영역 */

#buyList {
  display: block;
  width: 100%;
  height: 100%;
  padding: 3rem;
  border: 1rem solid #F78E1E;
  background-color: #fff;
}

#buyList .txt {
  display: block;
  position: inherit;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  padding: 0 0 2rem 0;
}

#buyList .listWrap {
  border-bottom: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
}

#buyList .listWrap .infoList {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  margin: 1.5rem;
}

#buyList .listWrap .infoList p:nth-child(2) {
  font-weight: 700;
}

.btn--purchase {
  display: block;
  width: 100%;
  height: 15rem;
  padding: 3rem;
  border-radius: 2rem;
  background-color: #F78E1E;
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
}

.btn--purchase:disabled {
  display: block;
  width: 100%;
  height: 15rem;
  padding: 3rem;
  border: 1rem solid #e9e9e9;
  border-radius: 2rem;
  background-color: #fff;
  font-size: 3rem;
  color: #e9e9e9;
  font-weight: 700;
}